@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.pri-font {
    font-family: "Poppins", sans-serif !important;
    line-height: 1.4;
    letter-spacing: 2px;
}

.pri-font-light {
    font-family: "Poppins", sans-serif !important;
    line-height: 1.4;
    letter-spacing: 2px;
    font-weight: 200;
}

.pri-font-bold {
    font-family: "Poppins", sans-serif !important;
    line-height: 1.4;
    letter-spacing: 2px;
    font-weight: 700;
}

.green-font {
    color: #4bffa5 !important;
}
